

.container {
    margin-top: 15px;
    margin-left: 15px;
    padding: 15px;
   
    

}


img {
   
    margin-top: 5px;
    margin-right: 46px;
    height: 26px;
    
    
}

input {
    margin-top: 7px;
    width: 700px;
    border:gainsboro 1px solid;
    border-radius: 25px;
    font-size: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative;
   top: -7px;
   height: 15px;
   
}



.material-icons {
    position: relative;
    right: 45px;
    color: rgb(11, 11, 223);
}

#apps {
    float: right;
    top: 7px;
    color: gray;
    height: 1px;
    position: relative;
    right: 150px;
}

a:link {
    text-decoration: none;
}

#sign {
    position: relative;
    left: 297px;
    top: -10px;
    padding-top: 7px;
    font-size: 12px;
    padding: 10px 25px;
    background-color: rgb(45, 127, 194);
    border: rgb(69, 91, 192) 1px solid;
    color: #eee;
    border-radius: 5px;
}

.container-2 {
    padding-top: 7px;
    color: black;
    padding: 20px;
    padding-left: 155px;
}

a {
    padding-left: 17px;
    color: black;
}

hr {
    margin: 0 auto;
    padding: 1px;
    width: 120%;
    color: gainsboro;
    
    background-color: gainsboro;
}
